@import url("https://fonts.googleapis.com/css2?family=Anton&family=Anybody&display=swap");
.body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
img {
  padding: 0;
  margin: 0;
}
body {
  background: gray;
}
.container {
  /*titik buat class*/
  width: 1200px; /*container with gutter */
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.col-4 {
  width: calc(100% / 3 - 24px);
}
.col-6 {
  width: calc(50% - 24px);
}
.col-8 {
  width: calc(100% * 2 / 3 - 24px);
}
#navbar {
  width: 100%;
}
#navbar .container {
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
#navbar .logo {
  font-family: "Anton";
  font-style: italic;
  font-style: bold;
  font-weight: 400;
  font-size: 25px;
  line-height: 20px;
  color: black;
}
#navbar ul {
  list-style: none; /*menghilangkan bullet*/
  display: flex;
  gap: 25px;
}
#navbar ul li {
  float: left; /*biar menunya mendatar*/
}
#navbar ul li a {
  text-decoration: none; /*menghilangkan garis bawah */
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 1px;
  color: black;
}
#navbar ul li .signup {
  padding: 10px;
  background: black;
  color: white;
  border-radius: 10px;
}

#header .container {
  display: flex;
  background: lightgray;
}

#header .container .title .title-logo img {
  height: 65px;
  align-items: center;
}
#header .container .title p span {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 60px;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

#header .title-find p {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 1px;
  color: black;
  padding: 30px 10px;
}
#header .container .image img {
  width: 320px;
  height: 500px;
  filter: drop-shadow(32px -5px #ffff) drop-shadow(32px -5px orange);
}
#arrivals {
  width: 100%;
}
#arrivals .container {
  padding-top: 60px;
  background: white;
  display: flex;
}
#arrivals .title h3 {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 30px;
  color: black;
  padding: 0 30px;
  padding-bottom: 40px;
  align-items: left;
}
#arrivals .card {
  padding: 50px;
}
#arrivals .card-content {
  display: flex;
  justify-content: space-between;
}
#arrivals .card img {
  width: 100%;
  background: grey;
}
#arrivals .card-title {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 30px;
  color: black;
}
#arrivals .card-arrow img {
  width: 50px;
  height: 50px;
  background: white;
}
#payday .container {
  background: orange;
  display: flex;
  padding-top: 60px;
  gap: 30px;
}
#payday .container .image img {
  width: 400px;
  align-items: center;
}
#payday .container .content {
  padding: 0px 30px;
}
#payday .content span {
  background: black;
  border-radius: 10px;
  padding: 10px;
}
#payday .content-payday h1 {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 80px;

  color: black;
  background: white;
  height: 58px;
  width: 100%;
  padding: 10px 20px;
  transform: translateX(-20px) rotate(-3deg);
}
#payday .content-payday {
  position: relative;
  width: fit-content;
}
#payday .content-payday div {
  position: relative;
  width: fit-content;
}
#payday .content span a {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  color: white;
}
#payday .content h1 {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 30px;
  color: black;
}
#store .container {
  background: #ffff;
  display: flex;
  padding-top: 60px;
  justify-content: space-between;
}
#store .content {
  padding: 30px 50px;
}
#store .content h2 {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 30px;
  line-height: 30px;
  color: black;
}
#store .content p {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 30px;
  color: black;
}
#store .content span {
  background: black;
  border-radius: 10px;
  padding: 10px;
}
#store .content span a {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  color: white;
}
#store .image {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#store .amazon img {
  width: 150px;
  height: 150px;
  background: grey;
}
#favorite .container {
  padding-top: 60px;
  background: white;
  display: flex;
}
#favorite .title {
  text-align: left;
}
#favorite .title h4 {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 30px;
  color: black;
  padding: 0 30px;
}
#favorite .card {
  padding: 50px;
}
#favorite .card-content {
  display: flex;
  justify-content: space-between;
}
#favorite .card img {
  width: 100%;
  background: grey;
}
#favorite .card-title {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 30px;
  color: black;
}
#favorite .card-arrow img {
  width: 50px;
  height: 50px;
  background: white;
}
#download .container {
  padding-top: 60px;
  background: white;
  display: flex;
  justify-content: center;
  gap: 100px;
}
#download .title-content h3 {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 60px;
  padding: 0 30px;
}
#download .title-content p {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 60px;
  padding: 0 25px;
}
#download .title-image img {
  height: 65px;
  align-items: center;
}
#join .container {
  padding: 30px 0;
  background: orange;
  display: flex;
}
#join .title {
  text-align: center;
  color: white;
}
#join .title h2 {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 60px;
  padding: 0 30px;
}
#join .title p {
  font-family: "Anton";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 60px;
}
#join .form-email {
  background: white;
  border-radius: 5px;
  padding: 0 10px;
}
#join .form-email input {
  background: white;
  padding: 20px;
  border-radius: 20px;
  border: 0px solid white;
}
#join .form-email button {
  background: black;
  padding: 15px;
  border-radius: 15px;
  color: white;
}
#footer .container {
  background: black;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 30px 30px;
}
#footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#footer a {
  text-decoration: none;
  color: white;
}
